@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    to right top,
    #533248,
    #573254,
    #573461,
    #533771,
    #473c81,
    #384386,
    #25498a,
    #004e8d,
    #005181,
    #00526e,
    #00505a,
    #084c48
  );
  width: 100%;
  height: 100%;
}
.form-control {
  padding: 12px 10px;
}
.form-control:hover {
  background: rgb(244, 242, 240);
}
.carousel-hero {
  width: 100%;
  height: 480px;
}
.c-item {
  height: 480px;
}
.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
.nav-link {
  font-size: 20px;
}
.navbar-brand:hover,
a.nav-link:hover {
  border-bottom: 1px solid peru;
}
.movies-container {
  margin-bottom: 6rem !important;
}
.app-footer {
  margin-top: 20px !important;
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: #212529;
  color: #fff;
  color: "#fff";
}
.app-footer p {
  padding: 10px;
  margin-top: 10px;
}
